<!DOCTYPE html>
<html class=" js video" lang="en" xmlns:wb="“http://open.weibo.com/wb”">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body bgcolor="#F4F4F4">

<p>

    <font color="#1BADF8" size="5">
        <bold>1. 毫米波疗法</bold>
    </font></br>
    <font color="#000000" size="2">毫米波疗法是通过特定频率的毫米波与人体细胞产生相干谐振为原理细胞相干振荡原理，使人体病变细胞恢复到正常工作状态以达到治愈疾病的目的。生物组织成分中DNA、RNA、蛋白质等大分子和生物膜均有各自固定的振荡频率，这些频率正处于毫米波的振荡频率范围之内，因此毫米波作用于这些生物大分子和生物膜时发生谐振。
        毫米波通过细胞与细胞之间的传递，可以达到细胞层面的治疗，毫米波与细胞产生谐振，可使细胞膜电位发生变化，使膜电位脱离，破损细胞恢复正常振荡频率，可消除细胞膜上病损，使细胞膜受体恢复正常，借此可以使细胞通透性提高，营养转化与代谢恢复正常，从而达到治疗疾病的目的。</font></br></br>

    </br><font color="#1BADF8" size="5">
        <bold>2. 毫米波</bold>
    </font></br>
    <font color="#000000" size="2">毫米波（millimeter
        wave）：波长为1～10毫米的电磁波称毫米波，它位于微波与远红外波相交叠的波长范围，因而兼有两种波谱的特点。毫米波处于微波波段的最高端，具有独特的物理特性，与生物体相互作用能产生特殊的生物学效应。</font></br></br>

    </br><font color="#1BADF8" size="5">
        <bold>3. 毫米波的生物学效应</bold>
    </font></br>

    </br><font color="#1BADF8" size="3">
        <bold>3.1 毫米波生物学效应研究历史</bold>
    </font></br>
    <font color="#000000" size="2">关于毫米波生物学效应的研究起自上世纪60年代中期，首先由英、俄（前苏联）的科学家提出，后经俄、英、美、德、法等国学者的卓越工作，
        逐步建立起了比较扎实的基础理论体系。特别是前苏联组织的多学科研究群体，经过长达25年的基础研究、10年的临床应用研究，创造了世界领先水平的科研成果，确立了毫米波医疗技术研究的领军者位置。
        我国的毫米波医疗技术研究，始于上世纪80年代，解放军第四军医大学原老校长陈景藻将军和北京理工大学教授、原国家医疗器械评审专家委员会副主任吴祈耀教授。他们是我国研究毫米波技术应用理论的权威，对我国医疗界采用毫米波辅助治疗肿瘤和其他疾病的临床试验，做过大量的调研。目前，毫米波医疗技术已被许多医疗机构在临床治疗中采用，专家学者发表了数以百计的科研论文，出版了多种版本的学术专著。</font></br></br>

    <font color="#1BADF8" size="3">
        <bold>3.2 毫米波电磁辐射生物学效应机理</bold>
    </font></br>
    <font color="#000000" size="2">电磁波由交变电场和磁场在空间传播而形成。电磁波波长越短，其量子能量亦越大，但电磁波中较短的毫米波与亚毫米波而言，其能量尚不足以使分子发生电离，故仍属于非电离辐射。
        在生命活动中，细胞可出现膜电位的改变，脑组织有脑电，肌组织产生肌电，心脏活动产生心电等等。无论细胞核、核膜、胞原浆、细胞器、细胞膜……在生命活动中均有1010-1012Hz的电磁波出现，疾病发生后这些电磁波活动亦有所变异。
        应用高频电磁波（如毫米波段），其频率恰在30-300GHz段，它可通过谐振使细胞各部出现病变的振频改变，恢复至健康状况（如病变使膜结构分子发生粘连，因而膜电振频发生改变，通过高频电疗可以使之康复等）。
        电磁波作用于生物必须通过机体一定器官（五官、脏器、组织或细胞）感受，而后通过神经、内分泌、免疫以及循环系统等，到达靶器官，使靶器官发生功能、代谢或形态改变。在正常环境下一些外来或内在改变可通过机体一系列调节，达到机体内环境平衡-体内所有活动都是在一定范围或阀下进行。</font></br></br>

    <font color="#1BADF8" size="3">
        <bold>3.3 毫米波的医学应用</bold>
    </font></br>
    <font color="#000000" size="2">各国科学家经过大量的研究发现：人体的大分子组织（细胞膜、蛋白质、DNA、RNA）都存在固有振荡频率，当组织本身的固有振荡频率发生紊乱时，人体就会发生一系列的疾病。
        毫米波发出的电磁波振荡频率与人体组织固有振荡频率是相一致的，所以毫米波可以引起人体大分子组织的谐振。毫米波的能量被人体组织吸收后，通过'电磁相干振荡“使人体紊乱的细胞振荡频率恢复正常，从而达到从根本上治疗疾病的目的。
        毫米波能改善人体的耐毒状态，提高血液质量，有明显增加白细胞的作用，提高其吞噬能力及杀菌能力，可以调节机体的免疫系统，从而增加机体的抗病能力。
        毫米波通过谐振促进局部血管扩张、血流加速，使细胞组织的营养和代谢得到改善，并提高人体组织的功能和细胞再生能力，加快了病理产物和代谢产物的排泄，也就产生了消炎杀菌，消肿止痛的作用。
        毫米波通过谐振还可以降低神经兴奋性，加快组织生长修复，促进骨髓粒系造血细胞的生成，抑制肿瘤的生长及分裂，治疗肿瘤以及减轻癌症疼痛及放化疗的毒副作用等。
        2013年3月19日，以色列特拉维夫召开“第三届国际IEE微波、通讯、天线和电子系统会议”，以色列阿里埃勒大学的哈洛姆教授宣布“用毫米波照射癌细胞将阻止其再生，而又不破坏细胞本身”的重大发现，震动世界医学界。</font></br></br>


</p>

</body>
</html>